/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require skeleton
 *= require_tree .

 */

/*header {*/
    /*width: 97%;*/
    /*height: 80px;*/
    /*border: 1px solid #000000;*/
/*}*/

/*body {*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

.header-title {
    display: inline-block;
}

.nav {
    margin-top: 10px;
}

header.twelve.coluns {
    height: 83px;
}


/*.header-nav-container {*/
    /*margin-right: 10px;*/
    /*display: inline-block;*/
    /*float: right;*/
/*}*/

/*footer {*/

    /*position:absolute;*/
    /*bottom:0;*/
    /*width:100%;*/
    /*height:60px;   !* Height of the footer *!*/
    /*border: 1px solid #000000;*/
/*}*/

.float-right {
    float: right;
    display: inline-block;
}

p {
  margin-bottom: 1.5rem;
}

textarea#review_comment {
    width: 100%;
}

.field {
    width: 100%;
}

@media only screen and (min-width: 890px){

}
