


<table class="u-full-width">
  <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |p|%>
    <tr>
      <td><%= link_to p.name, product_path(p.id)%></td>
      <td><%= p.description %></td>
      <td>&#36;<%= p.formatted_price %></td>
    </tr>
  <% end %>
  </tbody>
</table>