<div id="search_field">
  <%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<div id="products">

</div>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>